<div class="container">

  <h1>Voyages</h1>

  <!-- Sample interface -->

  <form class="form-inline">
    <div class="form-group">
      <label>Departure Date</label>
      <input
        type="text"
        class="form-control"
        ng-click="ctrl.isEtdOpen = !ctrl.isEtdOpen"
        uib-datepicker-popup="{{format}}"
        ng-model="ctrl.etd"
        datepicker-options="ctrl.dateOptions"
        is-open="ctrl.isEtdOpen" />
    </div>

    <div class="form-group">
      <label>Arrival Date</label>
      <input
        type="text"
        class="form-control"
        ng-click="ctrl.isEtaOpen = !ctrl.isEtaOpen"
        uib-datepicker-popup="{{format}}"
        ng-model="ctrl.eta"
        datepicker-options="ctrl.dateOptions"
        is-open="ctrl.isEtaOpen" />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      ng-click="ctrl.getRoutes(ctrl.etd, ctrl.eta)">
      Find
    </button>
  
    <div class="form-group" style="margin: 10px">
    <input type="checkbox" ng-model="checked" ng-init="checked=false"/> Include transshipments
    </div>

  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Departure Port</th>
        <th>Departure Date</th>
        <th>Arrival Port</th>
        <th>Arrival Date</th>
        <th>Vessel</th>
      </tr>
    </thead>
    <tbody ng-if="checked">
      <tr ng-repeat="voyage in ctrl.allVoyages">
        <th>{{ voyage.departurePort }}</th>
        <td>{{ (voyage.departureDate | date) || 'N/A' }}</td>
        <th>{{ voyage.arrivalPort}}</th>
        <td>{{ (voyage.arrivalDate | date) || 'N/A' }}</td>
        <td>{{ voyage.vessel }}</td>
      </tr>
    </tbody>
    <tbody ng-if="!checked">
      <tr ng-repeat="voyage in ctrl.filteredVoyages">
        <th>{{ voyage.departurePort }}</th>
        <td>{{ (voyage.departureDate | date) || 'N/A' }}</td>
        <th>{{ voyage.arrivalPort}}</th>
        <td>{{ (voyage.arrivalDate | date) || 'N/A' }}</td>
        <td>{{ voyage.vessel }}</td>
      </tr>
    </tbody>
  </table>

</div>
